<html>
    <head>
        <title>Morgan's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Morgan's Blog</a></h1>
        </div>

        <div>
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
        <!--
        <div>
            <p>published: 04.12.2019, 12:50</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque eros lectus, vel semper sem euismod id. In elementum diam id nunc varius elementum. Proin in est ut libero consectetur rutrum. Integer id bibendum lorem. Nunc efficitur est in nibh posuere laoreet. Quisque sodales enim in mi ultrices, ac consectetur nibh mattis. Maecenas in tellus quis urna interdum vestibulum. Duis pharetra, sem ut aliquam pretium, nibh nunc faucibus lacus, at venenatis dui nisl nec nibh. Donec sed imperdiet sem.</p>
        </div>
        -->
    </body>
</html>